allow system_app ctl_default_prop:property_service set;

userdebug_or_eng(`
  allow system_app debugfs:file r_file_perms;
')

# Access to mm-pp-daemon
unix_socket_connect(system_app, pps, mm-pp-daemon)
